<div class="jumbotron">
  <h1 class="display-4">Hello, Party heads!</h1>
  <p class="lead">With TreatSheet now in action, Never miss a party anymore.... </p>
  <hr class="my-4">
  <p>We take responsibilty to make sure Debts are paid, Treats are served, And Party rocked! </p>
  <p class="btn btn-primary btn-dark btn-color" <%= link_to 'Lets Party', root_path %> </p>
</div>