@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #40007cb0 !important;
}

.btn-bg-dark {
    margin-bottom: 2%;
    background-color: #40007cb0 !important;
}

.btn-bg-light {
    background-color: #ffffff !important;
}

.light-color {
    color: #ffffff;
}

.party-list-div{
    flex: 2;
    padding: 30px;
    overflow: hidden;
    height: 100vh;
    opacity: 50%;
    overflow-y: scroll;
}
.create-party {
    flex: 1;
    float: left;
    padding: 30px;
}
.wrapper {
    display: flex;
}



@media only screen and (max-width: 640px) {

    .wrapper {
        display: block;
    }

    .party-list-div{
        width: 100%;
        height: 100%;
    }
    .create-party {
        width: 100%;
    }

}

.container {
    background-image: image-url('party_bg.jpg');
    background-repeat: repeat-y;
    padding: 0%;
    object-fit: cover;
    background-size: 100%;
    max-width: 100%;
}